.App {
  background-image: url("../public/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.App button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  z-index: 99;
}

.App button:hover {
  cursor: pointer;
}
